.buddy {
    width: 200px;
    height: 300px;
    background-image: url("images/serbia.jpg");
    background-position: center;
    background-size: 600px;
    box-shadow: -5px -5px 0px lightgrey;
    display: inline-block;
    margin: 20px;
    margin-top: 0;
}

.buddyScore {
    color: white;
    margin-left: -170px;
    text-shadow: 1px 1px 1px grey;
}

.buddyImg {
    width: 100px;
    height: 100px;
    background-image: url("images/dorde.jpg");
    background-size: 100px;
    border-radius: 50px;
    border: 3px solid white;
}

.buddyPrice {
    background-color: lightgrey;
    position: absolute;
    bottom: 170px;
    margin-left: 50px;
    width: 100px;
}

.price {
    font-size: 24px;
    color: grey;
    margin-left: -200px;
}

.specialBuddy {
    width: 150px;
    height: 150px;
    background-image: url("images/dorde.jpg");
    background-size: 150px;
    border-radius: 75px;
}

.msg {
    right: 20px;
    width: 300px;
    padding: 5px;
    border-radius: 3px;
    background-color: #FFBA5C;
    margin: 20px;
}

.send {
    margin: 20px;
    padding: 5px;
    border-radius: 3px;
    width: 300px;
    background-color: #00A6FF;
}